@{
    ViewData["Title"] = "Send Feedback successfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OrderTable
<section id="page-header" class="about-header">
    <h2>#Đánh giá</h2>
    <p>Đánh giá của bạn sẽ giúp chúng tôi hoàn thiênj hơn !!</p>
</section>

<section>
    <div class="container-invoice">
        <h2>Cảm ơn về phản hồi của bạn. Chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất</h2>

    </div>
    <div class="invoice">
        <button><a href="@Url.Action("Index","Home")">Quay về trang chủ</a></button>

    </div>
</section>
