
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Thời trang thể hiện cá tính</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="~/Image/about/a6.jpg" alt="">
        <div >
            <h2>Chúng tôi là bản sắc của bạn</h2>
            <p>Chào mừng bạn đến với Shop quần áo - nơi chúng tôi tôn trọng cái đẹp và cá tính của mỗi người. Chúng tôi cam kết mang đến cho bạn những bộ trang phục thời trang hàng đầu, với sự kết hợp hoàn hảo giữa phong cách, chất lượng và sự tự tin. Chúng tôi hiểu rằng thời trang không chỉ là việc ăn mặc mà còn là cách bạn thể hiện bản thân. Đội ngũ chuyên nghiệp của chúng tôi luôn tìm kiếm và chọn lựa những mẫu trang phục xu hướng nhất để bạn có thể thể hiện phong cách và sự cá tính của riêng mình. Hãy cùng chúng tôi tạo nên những trải nghiệm mua sắm thú vị và thời trang tuyệt vời tại Shop quần áo.</p>
            <abbr title="">Tạo ra những hình ảnh đẹp với mức kiểm soát tùy ý, nhờ vào sự lựa chọn giữa chế độ Cơ bản và Sáng tạo.</abbr>
            <br><br>
            <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Tạo ra những hình ảnh ấn tượng với mức kiểm soát bất kể ít hay nhiều theo ý bạn muốn, nhờ vào sự lựa chọn giữa chế độ Cơ bản và Sáng tạo.</marquee>
        </div>
    </section>

    <section id="about-app" class="section-p1">
        <h1>Tải xuống <a href="#">App</a> của chúng tôi</h1>
        <div class="video">
        <video autoplay muted loop src="~/Image/about/1.mp4"></video>
        </div>

    </section>

    <section id="feature" class="section-p1">
         <div class="fe-box">
        <img src="~/Image/features/f1.png" alt="">
            <h6>Miễn Phí Ship</h6>
         </div>
         <div class="fe-box">
        <img src="~/Image/features/f2.png" alt="">
            <h6>Đặt Online</h6>
         </div>
         <div class="fe-box">
        <img src="~/Image/features/f3.png" alt="">
            <h6>Tiết Kiệm Tiền</h6>
         </div>
         <div class="fe-box">
        <img src="~/Image/features/f4.png" alt="">
            <h6>Khuyến Mại Lớn</h6>
         </div>
         <div class="fe-box">
        <img src="~/Image/features/f5.png" alt="">
            <h6>Người Bán Thân Thiện</h6>
         </div>
         <div class="fe-box">
        <img src="~/Image/features/f6.png" alt="">
            <h6>Hỗ Trợ 24/7</h6>
         </div>
    </section>

     
    