@model IEnumerable<Brand>
<div> Thương hiệu:</div>
@foreach (var item in Model)
{

    <li><a asp-controller="Product" asp-action="ProductByBrand" asp-route-id="@item.BrandId">@item.BrandName</a></li>

}
